.burger {
    width: 50px;
    display: none;
    
    &__linet{
        transition: all 0.3s ease;
        height: 2px;
        background-color: black;
        margin: 10px 0 10px 0;
    }
    &__linem{
        height: 2px;
        background-color: black;
        margin: 10px 0 10px 0;
        
    }
    &__lineb{
        transition: all 0.3s ease;
        height: 2px;
        background-color: black;
        margin: 10px 0 10px 0;
    } 
 
}
