.form {
      display: flex;
      &__txt {
      font-size: 13px;
      color: #bef2ff;
      font-weight: 400;
      font-family: "Open Sans";
      padding-right: 20px;
      }

      &__option {
      font-size: 13px;
      font-weight: 400;
      color: #ffffff;
      background-color: #4cb1ca;
      border: none;
      }
}