.header {
      &__wrap{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
      }
    	&__top { 
            background-color: #4cb1ca;
            padding: 15px 0;
	}
      &__bottom {
            background-color: #ffffff;
            margin: 40px 0;
      }
      &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
      }
      &__right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;     
      }
      &__icon{
            display: flex;
            justify-content: space-between;
      }
}

